body {
    font-family: Arial, sans-serif;
    background-color: #e9afaf;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}


.container {
    display: flex;
    width: 100%;
}


.sidebar {
    background-color: #d1a2a2;
    color: rgb(247, 227, 227);
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}


.sidebar ul li {
    padding: 15px;
    margin: 10px 0;
    background-color: #ab5454;
    cursor: pointer;
    text-align: center;
}


.sidebar ul li:hover {
    background-color: #966868;
}


.main-content {
    flex: 1;
    padding: 20px;
}


h2, h3 {
    margin-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


button {
    padding: 10px 20px;
    background-color: #bd8585;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}


button:hover {
    background-color: #cc7878;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    background-color: #d6b7c4;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.input-section {
    margin-top: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.delete-section {
    margin-top: 20px;
}
anime({
  targets: '.dom-attribute-demo input',
  value: [0, 1000],
  round: 1,
  easing: 'easeInOutExpo'
});
